nelmio_cors:
    defaults:
        allow_origin: ['http://localhost:5173', 'http://localhost:5174', 'http://localhost:5175', 'http://localhost:5176', 'http://localhost:5177', 'http://localhost:5178']
        allow_methods: ['GET', 'POST', 'OPTIONS', 'DELETE', 'PUT', 'PATCH']
        allow_headers: ['Content-Type', 'Authorization']
        expose_headers: ['Link']
        max_age: 3600
        allow_credentials: true
    paths:
        '^/api/':
            allow_origin: ['http://localhost:5173', 'http://localhost:5174', 'http://localhost:5175', 'http://localhost:5176', 'http://localhost:5177', 'http://localhost:5178']
            allow_methods: ['GET', 'POST', 'OPTIONS', 'DELETE', 'PUT', 'PATCH']
            allow_headers: ['Content-Type', 'Authorization']
            allow_credentials: true
