{# backend/templates/emails/reset_password.html.twig #}

<p>Привіт, {{ username }}!</p>
<p>Хтось (або ви) запитав відновлення пароля. Натисніть на посилання:</p>
<p><a href="{{ resetLink }}">{{ resetLink }}</a></p>
<p>Якщо ви цього не робили — просто ігноруйте цей лист.</p>
